@import '../libs/ui/css/ui.css';
@import 'tramp1357.css';

body
,body p
{
    color: #333;
    font-family: Verdana, Arial;
    line-height: 1.6em;
    font-size: 13px;
}

*, *:before, *:after {
    box-sizing: content-box;
}

a
{
    color: #3498db; 
}

a:hover, a:active {
    text-decoration: underline;
}

img{
    border:none;
}

.aside
,.aside a {
    font-size: 11px;
    line-height: 1.2em;
}  

.form-control { 
    padding: 0; 
}

.aside .comment.inner-tpl {
    margin: 0;
}

body h1{
    font-size:36px;
}
body h2{
    font-size:32px;
}
body h3{
    font-size:28px;
}
body h4{
    font-size:24px;
}
body h5{
    font-size:20px;
}
body h5{
    font-size:15px;
}

.ServiceBlock{
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    margin: 0 0 40px;
    overflow: hidden;
    padding: 10px;
}

.ServiceBlock .img{
    float: left;
    width: 40%;
}
.ServiceBlock .img img{
    width: 100%;
}

.ServiceBlock .description_wrapper{
    margin: 0 0 0 40%;
}

.ServiceBlock .description{
    padding: 0 0 0 20px;
}

.ServiceBlock .title {
    padding: 0 0 15px;
}

.ServiceBlock ul {
    margin: 0 0 0 12px;
}

.ServiceBlock li {
    list-style: disc outside none;
}

.ServiceBlock .intro {
    text-align: justify;
}

.serv_button {
    text-align: center;
    margin: 10px 0 0;
}

.serv_button img {
    border-radius: 6px;
    height: 35px;
}

.note {
    color: #aaa;
    display: block;
    font-size: 11px;
    line-height: 16px;
    margin-top: 3px;
}

.input-width-full {
    width: 100%;
}

#topik_preview{
    margin: 50px 0 0 ;
}

.reply textarea {
    height: 200px;
}

.users{
    width: 100%;
}

.users img{
    height:48px;
    width:48px;
}

.users td{
    padding: 10px 5px;
    border-bottom: 1px solid #CCC;
}

.users .w10{
    width: 10%;
    white-space:nowrap;
}

table.border{
    width: 100%;
}

table.border td
,table.border th
{
    border: 1px solid #CCC;
    padding: 5px;
}

.underline-dashed{
    border-bottom: 1px dashed;
}

.underline-dashed:hover{
    border-bottom: none;
}

.services-menu a.title{
    display: inline-block;
    margin: 10px 0;
    height: 20px;
}

.prettyprint code * {
    white-space: normal;
}


.social {
    background: url("../img/se-icon.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 16px;
    vertical-align: middle;
    width: 16px;
}
.social.Twitter {
    background-position: 0 -51px;
}
.social.Facebook {
    background-position: 0 -68px;
}
.social.Google {
    background-position: 0 -426px;
}
.social.Yandex {
    background-position: 0 -17px;
}

#sidebar .img-block{
    margin: 0 0 20px 12px;
}


/* Карточка компании */

.company{
    overflow:hidden;
}
.company .overviews{
    margin: 50px 0 0;
}
.company-cart .company-title{
    font-size: 25px;
    line-height: 25px;
    margin: 0 0 5px;
    padding: 0;
}
.company .company-full{}
.company-cart{
    overflow: hidden;
}
.company-cart .head{
    width: 170px;
}
.company-cart .description{
    margin: 0 0 0 170px;
}
.company-cart .description p{
    margin: 0;
}

.companies-list{}
.companies-list .company-cart{
    border-bottom: 1px solid #dbcba1;
    margin-bottom: 25px;
    padding-bottom: 25px;
}

/* Eof Карточка компании */




