@import './old/styles.less';


*{
  box-sizing: border-box;
}

body,
html{
   margin: 0;
	padding: 0;

   color: #222;
   font-family: Arial;
   font-size: 13px;
   line-height: 1.5;

   height: 100%;
}

a{
   color: #2196F3;
   text-decoration: none;

   &:hover{
      
      color: #0D47A1;
   }
}

.react-site--main-menu{

   li{
      list-style: none;
   }
}

#root{
   height: 100%;
}

.MainApp{
   height: 100%;
}